In [617]:
import json
import numpy as np
import pandas as pd
import lxml

# Import SAP data previously mapped for ZA1

15Dec_D365_orders_ZA1.csv

In [618]:
#df5 = pd.read_csv("./data/ZA1/15Dec_D365_orders_ZA1.csv", low_memory=False)

# Import data for other Legal Entities

In [619]:
LE = input('Enter the legal entity company code')
# NA1, MZ1, UG1

In [620]:
path = './data/'+ LE + '/15Dec_D365_orders_' + LE + '.feather'

In [621]:
df5 = pd.read_feather(path)

In [622]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427241 entries, 119142 to 209929
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ActivityType              427241 non-null  object
 1   Order Number              427241 non-null  int64
 2   BaseDate                  427241 non-null  datetime64[ns]
 3   BaseHour                  427241 non-null  int64
 4   Cases                     427241 non-null  int64
 5   Bill I                    424385 non-null  object
 6   Source Channel            427241 non-null  object
 7   Order Category            427241 non-null  object
 8   Material No               427241 non-null  object
 9   MOD                       427241 non-null  int64
 10  WAREHOUSELOCATIONID       427241 non-null  object
 11  CIC Order Placement Rule  427241 non-null  object
 12  D365_Account_Name         427241 non-null  object
 13  D365_Del_Loc              427241 non-null  object
 14  D365_ItemNo               427241 non-null  int64
 15  Material_Description      427241 non-null  object
 16  D365_Cust_No              427241 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 58.7+ MB

# Generate output files

In [623]:
path = 'output/' + LE + '/15Dec_D365_orders_' + LE + '.csv'
df5.to_csv(path, index=False)

In [624]:
# Generate CSVs per activity type, and for the 13th and 20th hours
# 1ORDERCREATION
mask = ((df5['ActivityType'] == '1ORDERCREATION') &  (df5['BaseHour'] == 12))
peak_order_hour = df5[mask]
path = 'output/' + LE + '/15Dec_D365_orders_1ORDERCREATION_12h_' + LE + '.csv'
peak_order_hour.to_csv(path,index=False)

mask = ((df5['ActivityType'] == '1ORDERCREATION') &  (df5['BaseHour'] == 19))
peak_settlement_hour = df5[mask]
path = 'output/' + LE + '/15Dec_D365_orders_1ORDERCREATION_19h_' + LE + '.csv'
peak_settlement_hour.to_csv('output/15Dec_D365_orders_1ORDERCREATION_19h.csv',index=False)


# 2PLAN - 12H
mask = ((df5['ActivityType'] == '2PLAN') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_2PLAN_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4PLAN - 12H
df5_1['MOD'] = '4'
path = 'output/' + LE + '/15Dec_D365_orders_4PLAN_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 2PLAN - 19H
mask = ((df5['ActivityType'] == '2PLAN') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_2PLAN_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4PLAN - 19H
df5_1['MOD'] = '4'
path = 'output/' + LE + '/15Dec_D365_orders_4PLAN_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 3DESPATCH
mask = ((df5['ActivityType'] == '3DESPATCH') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_3DESPATCH_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

mask = ((df5['ActivityType'] == '3DESPATCH') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_3DESPATCH_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)


# 4SETTLE - 12H
mask = ((df5['ActivityType'] == '4SETTLE') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_4SETTLE_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5SETTLE - 12H
df5_1['MOD'] = '5'
path = 'output/' + LE + '/15Dec_D365_orders_5SETTLE_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4SETTLE - 19H
mask = ((df5['ActivityType'] == '4SETTLE') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_4SETTLE_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5SETTLE - 19H
df5_1['MOD'] = '5'
path = 'output/' + LE + '/15Dec_D365_orders_5SETTLE_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5TRADERETURNS
mask = ((df5['ActivityType'] == '5TRADERETURNS') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_5TRADERETURNS_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)



mask = ((df5['ActivityType'] == '5TRADERETURNS') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_5TRADERETURNS_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

In [625]:
x = peak_order_hour.groupby(['Source Channel']).agg({'Order Number': 'nunique','D365_ItemNo': 'count'}).reset_index()
x.rename(columns={'D365_ItemNo': 'Order lines', 'Order Number': 'Sales orders'}, inplace=True)

In [626]:
# Generate a CSV for the rest of the hours, that is, excluding the 13th and 20th hours.  This set can be used to do preparation testing.
mask = ((df5['BaseHour'] != 12) & (df5['BaseHour'] != 19))
df5_1 = df5[mask]
df5_1.to_csv('output/15Dec_D365_orders_excluding_12h_19h.csv', index=False)

In [627]:
y = peak_settlement_hour.groupby(['Source Channel']).agg({'Order Number': 'nunique','D365_ItemNo': 'count'}).reset_index()
y.rename(columns={'D365_ItemNo': 'Order lines', 'Order Number': 'Sales orders'}, inplace=True)

In [628]:
#From above, generate a file that contains just one record per customer, so that we can use this to verify that each customer master record works
df5_2 = df5_1.drop_duplicates(subset=['D365_Cust_No'],keep='first').copy()

In [629]:
#f5_2.to_csv('output/15Dec_D365_single_line_per_customer_excluding_12h_19h.csv', index=False)

In [630]:
#raise SystemExit("File generation completed")

# Create file for stock journals

### Import warehouse files

In [631]:
if LE == 'NA1':
    LE_Warehouses = pd.read_csv("./data/NA1/NA1_Validated  IPT3 Warehouse Export  NA1 Warehouses.csv", delimiter=",")
    LE_Warehouses.rename(columns={'D365_Del_Location': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'WAREHOUSEID': 'D365_WH_NO', 'OPERATIONALSITEID': 'site_id', 'CCBWMSLOCATIONIDDEFAULTRECEIPT': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'CCBWAREHOUSETYPE', 'CCBFINANCECOSTCENTER', 'AREADVANCEDWAREHOUSEMANAGEMENTPROCESSESENABLED', 'D365_WH_NAME', 'CCBWAREHOUSECOSTCENTER'}, inplace=True, axis=1)
    #D365_Del_Location

if LE == 'MZ1':
    LE_Warehouses = pd.read_csv("./data/MZ1/IPT3 MZ1 PERF01 Warehouse.csv", delimiter=",")
    LE_Warehouses.rename(columns={'D365DELIVERYLOCATION': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'WAREHOUSEID': 'D365_WH_NO', 'OPERATIONALSITEID': 'site_id', 'CCBWMSLOCATIONIDDEFAULTRECEIPT': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'CCBWAREHOUSETYPE', 'CCBFINANCECOSTCENTER', 'AREADVANCEDWAREHOUSEMANAGEMENTPROCESSESENABLED', 'D365WHNAME', 'CCBWAREHOUSECOSTCENTER'}, inplace=True, axis=1)
if LE == 'UG1':
    LE_Warehouses = pd.read_csv("./data/UG1/IPT3 WMS UG1-Warehouses.csv", delimiter=",")    
    LE_Warehouses.rename(columns={'D365_Del_Loc': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'Warehouse': 'D365_WH_NO', 'Site ID': 'site_id', 'Location': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'FinanceCost centre', 'Cost Centre'}, inplace=True, axis=1)

In [632]:

warehouses = LE_Warehouses.copy()

In [633]:
warehouses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   site_id              7 non-null      object
 1   WAREHOUSELOCATIONID  7 non-null      object
 2   D365_WH_NO           7 non-null      object
 3   FINANCIALDIMENSION   7 non-null      object
 4   D365_Del_Loc         7 non-null      object
dtypes: object(5)
memory usage: 408.0+ bytes

In [634]:
warehouses

,site_id,WAREHOUSELOCATIONID,D365_WH_NO,FINANCIALDIMENSION,D365_Del_Loc
0,MZ010,GEN01,MZ010B,-BU01-MZ1F004--MZ1L004--MZ010-,MZ1-MZ010B
1,MZ010,GEN01,MZ010Q,-BU01-MZ1F004----MZ010-,MZ1-MZ010Q
2,MZ011,GEN01,MZ011B,-BU01-MZ1F004--MZ1L026--MZ011-,MZ1-MZ011B
3,MZ011,GEN01,MZ011Q,-BU01-MZ1F004----MZ011-,MZ1-MZ011Q
4,MZ012,GEN01,MZ012B,-BU01-MZ1F004--MZ1L017--MZ012-,MZ1-MZ012B
5,MZ012,GEN01,MZ012Q,-BU01-MZ1F004----MZ012-,MZ1-MZ012Q
6,MZ013,GEN01,MZ013B,-BU01-MZ1F004----MZ013-,MZ1-MZ013B

### Create a journal line item per item per warehouse, with a replenishment_qty that is 100x the sum of order quantities (Cases) per line

In [635]:
# Create this dataframe before dropping columns not needed for order creation
stock_journal = df5[['D365_ItemNo', 'D365_Del_Loc','Cases']]
stock_journal = stock_journal.groupby(['D365_Del_Loc', 'D365_ItemNo'],as_index=False).sum('Cases')

In [636]:
stock_journal

    D365_Del_Loc  D365_ItemNo  Cases
0     MZ1-MZ010B         1040   5187
1     MZ1-MZ010B         1285   4556
2     MZ1-MZ010B         1463   2673
3     MZ1-MZ010B         1480   1659
4     MZ1-MZ010B         1569   2661
..           ...          ...    ...
779   MZ1-MZ013B        10926   2641
780   MZ1-MZ013B        10927   1605
781   MZ1-MZ013B        11041   2686
782   MZ1-MZ013B        11171   1830
783   MZ1-MZ013B        11172   1073

[784 rows x 3 columns]

In [637]:
stock_journal['replenishment_qty'] = stock_journal['Cases']*100

### Merge with warehouse dataframe to get Financial Dimensions per warehouse

In [638]:
stock_journal['INVENTORYSTATUSID'] = 'Available'

In [639]:
stock_journal1 = pd.merge(
    stock_journal,
    warehouses,
    how="inner",
    on=None,
    left_on='D365_Del_Loc',
    right_on='D365_Del_Loc',
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [640]:
stock_journal1.rename(columns={'Financial_Dimension': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)

In [641]:
stock_journal1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   D365_Del_Loc         784 non-null    object
 1   D365_ItemNo          784 non-null    int64
 2   Cases                784 non-null    int64
 3   replenishment_qty    784 non-null    int64
 4   INVENTORYSTATUSID    784 non-null    object
 5   site_id              784 non-null    object
 6   WAREHOUSELOCATIONID  784 non-null    object
 7   D365_WH_NO           784 non-null    object
 8   FINANCIALDIMENSION   784 non-null    object
dtypes: int64(3), object(6)
memory usage: 55.2+ KB

In [642]:
#stock_journal1.drop(columns={'Cases', 'D365_WH_NAME', 'SAP_WH_NAME','Cost_Centre'}, inplace=True, axis=1)

In [643]:
stock_journal1 = stock_journal1.sort_values(['D365_WH_NO'],ascending=True)

In [644]:
print(stock_journal1)

    D365_Del_Loc  D365_ItemNo  Cases  replenishment_qty INVENTORYSTATUSID  \
0     MZ1-MZ010B         1040   5187             518700         Available
81    MZ1-MZ010B        10078   3754             375400         Available
80    MZ1-MZ010B        10077   1838             183800         Available
79    MZ1-MZ010B        10073   5347             534700         Available
78    MZ1-MZ010B        10072   2530             253000         Available
..           ...          ...    ...                ...               ...
702   MZ1-MZ013B         4996   8600             860000         Available
701   MZ1-MZ013B         4995   2600             260000         Available
699   MZ1-MZ013B         4769   9164             916400         Available
726   MZ1-MZ013B         6109   1342             134200         Available
783   MZ1-MZ013B        11172   1073             107300         Available

    site_id WAREHOUSELOCATIONID D365_WH_NO              FINANCIALDIMENSION
0     MZ010               GEN01     MZ010B  -BU01-MZ1F004--MZ1L004--MZ010-
81    MZ010               GEN01     MZ010B  -BU01-MZ1F004--MZ1L004--MZ010-
80    MZ010               GEN01     MZ010B  -BU01-MZ1F004--MZ1L004--MZ010-
79    MZ010               GEN01     MZ010B  -BU01-MZ1F004--MZ1L004--MZ010-
78    MZ010               GEN01     MZ010B  -BU01-MZ1F004--MZ1L004--MZ010-
..      ...                 ...        ...                             ...
702   MZ013               GEN01     MZ013B         -BU01-MZ1F004----MZ013-
701   MZ013               GEN01     MZ013B         -BU01-MZ1F004----MZ013-
699   MZ013               GEN01     MZ013B         -BU01-MZ1F004----MZ013-
726   MZ013               GEN01     MZ013B         -BU01-MZ1F004----MZ013-
783   MZ013               GEN01     MZ013B         -BU01-MZ1F004----MZ013-

[784 rows x 9 columns]

In [645]:
# Add a sequential index for LineNumber
line_number = range(1,stock_journal1.last_valid_index()+2,1)

In [646]:

stock_journal1['LINENUMBER']=line_number

### Generate a journal number per warehouse

In [647]:
journal_number = pd.DataFrame(stock_journal1['D365_WH_NO'].unique())

In [648]:
journal_number.rename(columns={0: 'D365_WH_NO'}, inplace=True)

In [649]:
journal_number = journal_number.sort_values(['D365_WH_NO'],ascending=True)

In [650]:
first_valid_jnumber = input('Enter first valid journal number (numbers only)')
#first_valid_jnumber = '76517'
first_valid_jnumber = int(first_valid_jnumber)
#ZA10700076636 - 24 Jan 2023
#ZA10700084774 - 14 Mar
# 2 Oct 2023
# NA1-000031

In [651]:
index = range(first_valid_jnumber,first_valid_jnumber+journal_number.last_valid_index()+1,1)
journal_number['JOURNALNUMBER']=index

In [652]:
journal_number['journal_str'] = journal_number['JOURNALNUMBER'].apply(lambda x: str(x).zfill(6))
#journal_number['JOURNALNUMBER'] = journal_number['JOURNALNUMBER'].astype(str)
journal_number['journal_str'] = LE + '-' + journal_number['journal_str']

In [653]:
stock_journal1 = pd.merge(
   stock_journal1,
   journal_number,
   how="inner",
   on=None,
   left_on='D365_WH_NO',
   right_on='D365_WH_NO',
   left_index=False,
   right_index=False,
   sort=True,
   suffixes=("_x", "_y"),
   copy=True,
   indicator=False,
   validate=None,
)

In [654]:
stock_journal1['ITEMBATCHNUMBER']='1'
stock_journal1['JOURNALNAMEID']='ADJ_WHS'
stock_journal1['TRANSACTIONDATE']= pd.to_datetime('today').date()

In [655]:
path = 'output/' + LE + '/stock_journal_' + LE + '.csv'
stock_journal1.to_csv(path,index=False)

In [656]:
unique_items = df5[['D365_ItemNo', 'Material_Description']].drop_duplicates()

In [657]:
unique_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 119142 to 701152
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   D365_ItemNo           112 non-null    int64
 1   Material_Description  112 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.6+ KB

In [658]:
#unique_items.to_excel('data/unique_items.xlsx',index=False)

In [659]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427241 entries, 119142 to 209929
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ActivityType              427241 non-null  object
 1   Order Number              427241 non-null  int64
 2   BaseDate                  427241 non-null  datetime64[ns]
 3   BaseHour                  427241 non-null  int64
 4   Cases                     427241 non-null  int64
 5   Bill I                    424385 non-null  object
 6   Source Channel            427241 non-null  object
 7   Order Category            427241 non-null  object
 8   Material No               427241 non-null  object
 9   MOD                       427241 non-null  int64
 10  WAREHOUSELOCATIONID       427241 non-null  object
 11  CIC Order Placement Rule  427241 non-null  object
 12  D365_Account_Name         427241 non-null  object
 13  D365_Del_Loc              427241 non-null  object
 14  D365_ItemNo               427241 non-null  int64
 15  Material_Description      427241 non-null  object
 16  D365_Cust_No              427241 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 58.7+ MB

In [660]:
warehouses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   site_id              7 non-null      object
 1   WAREHOUSELOCATIONID  7 non-null      object
 2   D365_WH_NO           7 non-null      object
 3   FINANCIALDIMENSION   7 non-null      object
 4   D365_Del_Loc         7 non-null      object
dtypes: object(5)
memory usage: 408.0+ bytes

In [661]:
# Create the Cartesian product
price_update = unique_items.assign(key=1).merge(warehouses.assign(key=1), on='key').drop('key', axis=1)

In [662]:
price_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   D365_ItemNo           784 non-null    int64
 1   Material_Description  784 non-null    object
 2   site_id               784 non-null    object
 3   WAREHOUSELOCATIONID   784 non-null    object
 4   D365_WH_NO            784 non-null    object
 5   FINANCIALDIMENSION    784 non-null    object
 6   D365_Del_Loc          784 non-null    object
dtypes: int64(1), object(6)
memory usage: 43.0+ KB

In [663]:
#price_update.drop(columns={'Material_Description', 'SAP_WH_NAME', 'D365_WH_NAME', 'D365_WH_NO', 'WAREHOUSELOCATIONID', 'Cost_Centre', 'Financial_Dimension', 'D365_Del_Loc'}, inplace=True, axis=1)
price_update.drop(columns={'Material_Description', 'D365_WH_NO', 'WAREHOUSELOCATIONID', 'D365_Del_Loc'}, inplace=True, axis=1)

In [664]:
price_update.rename(columns={'D365_ItemNo': 'ItemNumber', 'site_id': 'PriceSiteId'}, inplace=True)

In [665]:
price_update = price_update.drop_duplicates()

In [666]:
price_update['Price'] = 42285
price_update['PriceQuantity'] = 1000
price_update['PriceType'] = 'Cost'
price_update['CostingVersion'] = 'Std'

In [667]:
#price_update.to_excel('output/price_update.xlsx',index=False)