In [105]:
import json
import numpy as np
import pandas as pd
import lxml

# Import SAP data previously mapped for ZA1

15Dec_D365_orders_ZA1.csv

In [106]:
#df5 = pd.read_csv("./data/ZA1/15Dec_D365_orders_ZA1.csv", low_memory=False)

# Import data for other Legal Entities

In [107]:
LE = input('Enter the legal entity company code')
# NA1, MZ1, UG1

In [108]:
path = './data/'+ LE + '/15Dec_D365_orders_' + LE + '.feather'

In [109]:
df5 = pd.read_feather(path)

In [110]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370721 entries, 105098 to 182777
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ActivityType              370721 non-null  object
 1   Order Number              370721 non-null  int64
 2   BaseDate                  370721 non-null  datetime64[ns]
 3   BaseHour                  370721 non-null  int64
 4   Cases                     370721 non-null  int64
 5   Bill I                    368347 non-null  object
 6   Source Channel            370721 non-null  object
 7   Order Category            370721 non-null  object
 8   Material No               370721 non-null  object
 9   MOD                       370721 non-null  int64
 10  WAREHOUSELOCATIONID       370721 non-null  object
 11  CIC Order Placement Rule  370721 non-null  object
 12  D365_Account_Name         370721 non-null  object
 13  D365_Del_Loc              370721 non-null  object
 14  D365_ItemNo               370721 non-null  int64
 15  Material_Description      370721 non-null  object
 16  D365_Cust_No              370721 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 50.9+ MB

In [111]:
df5.drop(columns={'Cases'}, inplace=True, axis=1)
df5['Cases'] = np.random.randint(1, 4290, size=len(df5))

# Generate output files

In [112]:
path = 'output/' + LE + '/15Dec_D365_orders_' + LE + '.csv'
df5.to_csv(path, index=False)

In [113]:
# Generate CSVs per activity type, and for the 13th and 20th hours
# 1ORDERCREATION
mask = ((df5['ActivityType'] == '1ORDERCREATION') &  (df5['BaseHour'] == 12))
peak_order_hour = df5[mask]
path = 'output/' + LE + '/15Dec_D365_orders_1ORDERCREATION_12h_' + LE + '.csv'
peak_order_hour.to_csv(path,index=False)

mask = ((df5['ActivityType'] == '1ORDERCREATION') &  (df5['BaseHour'] == 19))
peak_settlement_hour = df5[mask]
path = 'output/' + LE + '/15Dec_D365_orders_1ORDERCREATION_19h_' + LE + '.csv'
peak_settlement_hour.to_csv(path,index=False)


# 2PLAN - 12H
mask = ((df5['ActivityType'] == '2PLAN') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_2PLAN_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4PLAN - 12H
df5_1['MOD'] = '4'
path = 'output/' + LE + '/15Dec_D365_orders_4PLAN_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 2PLAN - 19H
mask = ((df5['ActivityType'] == '2PLAN') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_2PLAN_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4PLAN - 19H
df5_1['MOD'] = '4'
path = 'output/' + LE + '/15Dec_D365_orders_4PLAN_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 3DESPATCH
mask = ((df5['ActivityType'] == '3DESPATCH') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_3DESPATCH_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

mask = ((df5['ActivityType'] == '3DESPATCH') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_3DESPATCH_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)


# 4SETTLE - 12H
mask = ((df5['ActivityType'] == '4SETTLE') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_4SETTLE_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5SETTLE - 12H
df5_1['MOD'] = '5'
path = 'output/' + LE + '/15Dec_D365_orders_5SETTLE_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 4SETTLE - 19H
mask = ((df5['ActivityType'] == '4SETTLE') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_4SETTLE_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5SETTLE - 19H
df5_1['MOD'] = '5'
path = 'output/' + LE + '/15Dec_D365_orders_5SETTLE_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

# 5TRADERETURNS
mask = ((df5['ActivityType'] == '5TRADERETURNS') &  (df5['BaseHour'] == 12))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_5TRADERETURNS_12h_' + LE + '.csv'
df5_1.to_csv(path,index=False)



mask = ((df5['ActivityType'] == '5TRADERETURNS') &  (df5['BaseHour'] == 19))
df5_1 = df5[mask].copy()
df5_1.drop(columns={'CIC Order Placement Rule'}, inplace=True, axis=1)
path = 'output/' + LE + '/15Dec_D365_orders_5TRADERETURNS_19h_' + LE + '.csv'
df5_1.to_csv(path,index=False)

In [114]:
x = peak_order_hour.groupby(['Source Channel']).agg({'Order Number': 'nunique','D365_ItemNo': 'count'}).reset_index()
x.rename(columns={'D365_ItemNo': 'Order lines', 'Order Number': 'Sales orders'}, inplace=True)

In [115]:
# Generate a CSV for the rest of the hours, that is, excluding the 13th and 20th hours.  This set can be used to do preparation testing.
mask = ((df5['BaseHour'] != 12) & (df5['BaseHour'] != 19))
df5_1 = df5[mask]
df5_1.to_csv('output/15Dec_D365_orders_excluding_12h_19h.csv', index=False)

In [116]:
y = peak_settlement_hour.groupby(['Source Channel']).agg({'Order Number': 'nunique','D365_ItemNo': 'count'}).reset_index()
y.rename(columns={'D365_ItemNo': 'Order lines', 'Order Number': 'Sales orders'}, inplace=True)

In [117]:
#From above, generate a file that contains just one record per customer, so that we can use this to verify that each customer master record works
df5_2 = df5_1.drop_duplicates(subset=['D365_Cust_No'],keep='first').copy()

In [118]:
#f5_2.to_csv('output/15Dec_D365_single_line_per_customer_excluding_12h_19h.csv', index=False)

In [119]:
#raise SystemExit("File generation completed")

# Create file for stock journals

### Import warehouse files

In [120]:
if LE == 'NA1':
    LE_Warehouses = pd.read_csv("./data/NA1/NA1_Validated  IPT3 Warehouse Export  NA1 Warehouses.csv", delimiter=",")
    LE_Warehouses.rename(columns={'D365_Del_Location': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'WAREHOUSEID': 'D365_WH_NO', 'OPERATIONALSITEID': 'site_id', 'CCBWMSLOCATIONIDDEFAULTRECEIPT': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'CCBWAREHOUSETYPE', 'CCBFINANCECOSTCENTER', 'AREADVANCEDWAREHOUSEMANAGEMENTPROCESSESENABLED', 'D365_WH_NAME', 'CCBWAREHOUSECOSTCENTER'}, inplace=True, axis=1)
    #D365_Del_Location

if LE == 'MZ1':
    LE_Warehouses = pd.read_csv("./data/MZ1/IPT3 MZ1 PERF01 Warehouse.csv", delimiter=",")
    LE_Warehouses.rename(columns={'D365DELIVERYLOCATION': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'WAREHOUSEID': 'D365_WH_NO', 'OPERATIONALSITEID': 'site_id', 'CCBWMSLOCATIONIDDEFAULTRECEIPT': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'CCBWAREHOUSETYPE', 'CCBFINANCECOSTCENTER', 'AREADVANCEDWAREHOUSEMANAGEMENTPROCESSESENABLED', 'D365WHNAME', 'CCBWAREHOUSECOSTCENTER'}, inplace=True, axis=1)
if LE == 'UG1':
    LE_Warehouses = pd.read_csv("./data/UG1/IPT3 WMS UG1-Warehouses.csv", delimiter=",")    
    LE_Warehouses.rename(columns={'D365_Del_Loc': 'D365_Del_Loc'}, inplace=True)
    LE_Warehouses.rename(columns={'Warehouse': 'D365_WH_NO', 'Site ID': 'site_id', 'Location': 'WAREHOUSELOCATIONID', 'Financial Dimensions': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)
    LE_Warehouses.drop(columns={'FinanceCost centre', 'Cost Centre'}, inplace=True, axis=1)

In [121]:

warehouses = LE_Warehouses.copy()

In [122]:
warehouses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   D365_WH_NO           3 non-null      object
 1   Unnamed: 1           3 non-null      object
 2   site_id              3 non-null      object
 3   WAREHOUSELOCATIONID  3 non-null      object
 4   Financial_Dimension  3 non-null      object
 5   D365_Del_Loc         3 non-null      object
dtypes: object(6)
memory usage: 272.0+ bytes

In [123]:
warehouses

,D365_WH_NO,Unnamed: 1,site_id,WAREHOUSELOCATIONID,Financial_Dimension,D365_Del_Loc
0,UG010B,Yes,UG010,GEN01,-BU01-UG1F005--UG1L015--UG010-,UG1-UG010B
1,UG011B,Yes,UG011,GEN01,-BU01-UG1F003--UG1L008--UG011-,UG1-UG011B
2,UG012B,Yes,UG012,GEN01,-BU01-UG1F003--UG1L003--UG012-,UG1-UG012B

### Create a journal line item per item per warehouse, with a replenishment_qty that is 100x the sum of order quantities (Cases) per line

In [124]:
# Create this dataframe before dropping columns not needed for order creation
stock_journal = df5[['D365_ItemNo', 'D365_Del_Loc','Cases']]
stock_journal = stock_journal.groupby(['D365_Del_Loc', 'D365_ItemNo'],as_index=False).sum('Cases')

In [125]:
stock_journal

    D365_Del_Loc  D365_ItemNo    Cases
0     UG1-UG010B         1010  3305156
1     UG1-UG010B         1040  3870882
2     UG1-UG010B         1062  2071580
3     UG1-UG010B         1108  1861446
4     UG1-UG010B         1271  7942727
..           ...          ...      ...
238   UG1-UG012B        11135  1816821
239   UG1-UG012B        11136  3960937
240   UG1-UG012B        11137  2845257
241   UG1-UG012B        11165  1356581
242   UG1-UG012B        11166  1246499

[243 rows x 3 columns]

In [126]:
stock_journal['replenishment_qty'] = stock_journal['Cases']*100

### Merge with warehouse dataframe to get Financial Dimensions per warehouse

In [127]:
stock_journal['INVENTORYSTATUSID'] = 'Available'

In [128]:
stock_journal1 = pd.merge(
    stock_journal,
    warehouses,
    how="inner",
    on=None,
    left_on='D365_Del_Loc',
    right_on='D365_Del_Loc',
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [129]:
stock_journal1.rename(columns={'Financial_Dimension': 'DEFAULTLEDGERDIMENSIONDISPLAYVALUE'}, inplace=True)

In [130]:
stock_journal1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   D365_Del_Loc                        243 non-null    object
 1   D365_ItemNo                         243 non-null    int64
 2   Cases                               243 non-null    int64
 3   replenishment_qty                   243 non-null    int64
 4   INVENTORYSTATUSID                   243 non-null    object
 5   D365_WH_NO                          243 non-null    object
 6   Unnamed: 1                          243 non-null    object
 7   site_id                             243 non-null    object
 8   WAREHOUSELOCATIONID                 243 non-null    object
 9   DEFAULTLEDGERDIMENSIONDISPLAYVALUE  243 non-null    object
dtypes: int64(3), object(7)
memory usage: 19.1+ KB

In [131]:
#stock_journal1.drop(columns={'Cases', 'D365_WH_NAME', 'SAP_WH_NAME','Cost_Centre'}, inplace=True, axis=1)

In [132]:
stock_journal1 = stock_journal1.sort_values(['D365_WH_NO'],ascending=True)

In [133]:
print(stock_journal1)

    D365_Del_Loc  D365_ItemNo    Cases  replenishment_qty INVENTORYSTATUSID  \
0     UG1-UG010B         1010  3305156          330515600         Available
58    UG1-UG010B        10314  2747427          274742700         Available
57    UG1-UG010B        10306  5980244          598024400         Available
56    UG1-UG010B        10208  8327419          832741900         Available
55    UG1-UG010B        10082  1873708          187370800         Available
..           ...          ...      ...                ...               ...
185   UG1-UG012B         3040  2253232          225323200         Available
184   UG1-UG012B         3010  2065016          206501600         Available
183   UG1-UG012B         2376  2972404          297240400         Available
181   UG1-UG012B         2205  2061606          206160600         Available
242   UG1-UG012B        11166  1246499          124649900         Available

    D365_WH_NO Unnamed: 1 site_id WAREHOUSELOCATIONID  \
0       UG010B        Yes   UG010               GEN01
58      UG010B        Yes   UG010               GEN01
57      UG010B        Yes   UG010               GEN01
56      UG010B        Yes   UG010               GEN01
55      UG010B        Yes   UG010               GEN01
..         ...        ...     ...                 ...
185     UG012B        Yes   UG012               GEN01
184     UG012B        Yes   UG012               GEN01
183     UG012B        Yes   UG012               GEN01
181     UG012B        Yes   UG012               GEN01
242     UG012B        Yes   UG012               GEN01

    DEFAULTLEDGERDIMENSIONDISPLAYVALUE
0       -BU01-UG1F005--UG1L015--UG010-
58      -BU01-UG1F005--UG1L015--UG010-
57      -BU01-UG1F005--UG1L015--UG010-
56      -BU01-UG1F005--UG1L015--UG010-
55      -BU01-UG1F005--UG1L015--UG010-
..                                 ...
185     -BU01-UG1F003--UG1L003--UG012-
184     -BU01-UG1F003--UG1L003--UG012-
183     -BU01-UG1F003--UG1L003--UG012-
181     -BU01-UG1F003--UG1L003--UG012-
242     -BU01-UG1F003--UG1L003--UG012-

[243 rows x 10 columns]

In [134]:
# Add a sequential index for LineNumber
line_number = range(1,stock_journal1.last_valid_index()+2,1)

In [135]:

stock_journal1['LINENUMBER']=line_number

### Generate a journal number per warehouse

In [136]:
journal_number = pd.DataFrame(stock_journal1['D365_WH_NO'].unique())

In [137]:
journal_number.rename(columns={0: 'D365_WH_NO'}, inplace=True)

In [138]:
journal_number = journal_number.sort_values(['D365_WH_NO'],ascending=True)

In [139]:
first_valid_jnumber = input('Enter first valid journal number (numbers only)')
#first_valid_jnumber = '76517'
first_valid_jnumber = int(first_valid_jnumber)
#ZA10700076636 - 24 Jan 2023
#ZA10700084774 - 14 Mar
# 2 Oct 2023
# NA1-000031

In [140]:
index = range(first_valid_jnumber,first_valid_jnumber+journal_number.last_valid_index()+1,1)
journal_number['JOURNALNUMBER']=index

In [141]:
journal_number['journal_str'] = journal_number['JOURNALNUMBER'].apply(lambda x: str(x).zfill(6))
#journal_number['JOURNALNUMBER'] = journal_number['JOURNALNUMBER'].astype(str)
journal_number['journal_str'] = LE + '-' + journal_number['journal_str']

In [142]:
stock_journal1 = pd.merge(
   stock_journal1,
   journal_number,
   how="inner",
   on=None,
   left_on='D365_WH_NO',
   right_on='D365_WH_NO',
   left_index=False,
   right_index=False,
   sort=True,
   suffixes=("_x", "_y"),
   copy=True,
   indicator=False,
   validate=None,
)

In [143]:
stock_journal1['ITEMBATCHNUMBER']='1'
stock_journal1['JOURNALNAMEID']='ADJ_WHS'
stock_journal1['TRANSACTIONDATE']= pd.to_datetime('today').date()

In [144]:
path = 'output/' + LE + '/stock_journal_' + LE + '.csv'
stock_journal1.to_csv(path,index=False)

In [145]:
unique_items = df5[['D365_ItemNo', 'Material_Description']].drop_duplicates()

In [146]:
unique_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 105098 to 607902
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   D365_ItemNo           81 non-null     int64
 1   Material_Description  81 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [147]:
#unique_items.to_excel('data/unique_items.xlsx',index=False)

In [148]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370721 entries, 105098 to 182777
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ActivityType              370721 non-null  object
 1   Order Number              370721 non-null  int64
 2   BaseDate                  370721 non-null  datetime64[ns]
 3   BaseHour                  370721 non-null  int64
 4   Bill I                    368347 non-null  object
 5   Source Channel            370721 non-null  object
 6   Order Category            370721 non-null  object
 7   Material No               370721 non-null  object
 8   MOD                       370721 non-null  int64
 9   WAREHOUSELOCATIONID       370721 non-null  object
 10  CIC Order Placement Rule  370721 non-null  object
 11  D365_Account_Name         370721 non-null  object
 12  D365_Del_Loc              370721 non-null  object
 13  D365_ItemNo               370721 non-null  int64
 14  Material_Description      370721 non-null  object
 15  D365_Cust_No              370721 non-null  int64
 16  Cases                     370721 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 50.9+ MB

In [149]:
warehouses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   D365_WH_NO           3 non-null      object
 1   Unnamed: 1           3 non-null      object
 2   site_id              3 non-null      object
 3   WAREHOUSELOCATIONID  3 non-null      object
 4   Financial_Dimension  3 non-null      object
 5   D365_Del_Loc         3 non-null      object
dtypes: object(6)
memory usage: 272.0+ bytes

In [150]:
# Create the Cartesian product
price_update = unique_items.assign(key=1).merge(warehouses.assign(key=1), on='key').drop('key', axis=1)

In [151]:
price_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   D365_ItemNo           243 non-null    int64
 1   Material_Description  243 non-null    object
 2   D365_WH_NO            243 non-null    object
 3   Unnamed: 1            243 non-null    object
 4   site_id               243 non-null    object
 5   WAREHOUSELOCATIONID   243 non-null    object
 6   Financial_Dimension   243 non-null    object
 7   D365_Del_Loc          243 non-null    object
dtypes: int64(1), object(7)
memory usage: 15.3+ KB

In [152]:
#price_update.drop(columns={'Material_Description', 'SAP_WH_NAME', 'D365_WH_NAME', 'D365_WH_NO', 'WAREHOUSELOCATIONID', 'Cost_Centre', 'Financial_Dimension', 'D365_Del_Loc'}, inplace=True, axis=1)
price_update.drop(columns={'Material_Description', 'D365_WH_NO', 'WAREHOUSELOCATIONID', 'D365_Del_Loc'}, inplace=True, axis=1)

In [153]:
price_update.rename(columns={'D365_ItemNo': 'ItemNumber', 'site_id': 'PriceSiteId'}, inplace=True)

In [154]:
price_update = price_update.drop_duplicates()

In [155]:
price_update['Price'] = 42285
price_update['PriceQuantity'] = 1000
price_update['PriceType'] = 'Cost'
price_update['CostingVersion'] = 'Std'

In [156]:
#price_update.to_excel('output/price_update.xlsx',index=False)